body{
    background-color: lightblue;
    margin: auto;
    text-align: center;
    padding: 0px 50px;
}
.jumbotron{
    background-color: maroon;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.container2{
    background-color: cornsilk;
    height: 530px;
    padding-top: 10px;
}

#gifButtons {
    height: 30px;
    margin-top: 10px;
}
.btn-space {
    margin-right: 5px;
}
